<ion-header >
  <app-header [pageTitle]="titulo" ></app-header>
</ion-header>

<ion-content color="warning" >

  <ion-grid>
    <ion-row>
      <ion-col>
        
        <ion-card color ="tertiary"> 
          <ion-card-header>
            <ion-card-content>
              <div>
                Para restablecer su contraseña, debe poner el Usuario asociado a la cuenta
              </div>
              <ion-item>
                <ion-label>Usuario:</ion-label>
                <ion-input clearInput></ion-input>
              </ion-item>
              <ion-button   color="success" class="ion-margin-top" (click) = "Redireccionar()">
                <ion-icon  name="mail-outline" slot = "start"></ion-icon>
                RECUPERAR
              </ion-button>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
        

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>