<ion-header>

  <app-header [pageTitle]= "titulo" ></app-header>
  
</ion-header>

<ion-content>
  

  
    <div id="container">
      <strong >TeLlevoAPP</strong>
      <h1>La nueva APP para ir a tu sede</h1>
        <img src="https://cdn.pixabay.com/photo/2016/12/31/01/43/auto-1941988_960_720.png" alt="">
      
      <ion-card color = "warning">
        <strong>¿Tienes una cuenta?</strong>
        <ion-button color="tertiary" expand="block" [routerLink]="['/auth']">INGRESAR</ion-button>  
        
        <strong>¿Eres nuevo?</strong>
        <ion-button color="tertiary" expand="block" [routerLink]="['/reg']">Registrate</ion-button>
        
      </ion-card>
      <img src="https://ltecnologico.cl/storage/img/noticias/duoc-uc[1].jpeg" alt="">
    </div>


  
</ion-content>